extends _layouts/home

block head_end
    link(rel="stylesheet" href="assets/css/style.css")

block conditional_comments
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/fonts.css"></link>
    <link rel="stylesheet" href="assets/css/ie-old.css"></link>
    <![endif]-->
    <!--[if lte IE 8]>
    <script type="text/javascript" src="assets/js/html5shiv.js"></script>
    <![endif]-->

block content
    include _partials/header
    include _partials/main-content
    include _partials/footer

block body_end
    script(type="text/javascript" src="assets/js/script.js")