footer(class="page-footer")
    div(class="page-footer__inner")
        p(class="copyright copyright_footer") &copy; 2015 PDFfiller Inc. All rights reserved. Made by People, For the People.

        ul(class="list list_socials-links list_socials-links_footer")
            li.list__item
                a(href="#") google+
            li.list__item
                a(href="#") facebook
            li.list__item
                a(href="#") twitter