header(class="page-header")
    div(class="page-header__inner")
        a(href="#" class="logo logo_header")
            h1(class="logo__caption-hidden")= companyName

        div(class="socials-share socials-share_header")
            img(src="assets/img/socials-share-blanc.png" style="display: block;" alt="")
            div(class="fb-like-wrapper")
            div(class="tweet-btn")
