section(class="content-section content-section_intro")
    div(class="content-section__inner")
        div(class="intro-text-group")
            h2= introTitle
            h3(class="preamble")= introPreamble

        form(action="#" class="form form_upload")

            fieldset(class="form__fieldset form__fieldset_upload")
                span(class="form__row")
                    span(class="form__legend") Drag & Drop PDFs Here
                div(class="form__row")
                    ul(class="list list_uploaded-files-images")
                        li(class="list__item")
                            img(src="assets/img/pdf-sheet.svg"
                                class="pdf-sheet-image"
                                data-fallback="assets/img/blanc.png"
                                alt="")
                        li(class="list__item")
                            img(src="assets/img/plus.svg"
                            class="plus-image uploaded-items-separator"
                            data-fallback="assets/img/blanc.png"
                            alt="")
                        li(class="list__item")
                            img(src="assets/img/pdf-sheet.svg"
                                class="pdf-sheet-image"
                                data-fallback="assets/img/blanc.png"
                                alt="")
                div(class="form__row form__row_file-upload")
                    span(class="form__file-upload") choose files
                        input(type="file")

            fieldset(class="form__fieldset form__fieldset_upload-from-cloud")
                div(class="form__fieldset__inner")
                    span(class="form__legend") or get from the Cloud
                    ul(class="list list_icons list_upload-from-cloud")
                        li(class="list__item")
                            a(href="#" class="icon icon_clickable")
                                img(src="assets/img/dropbox.svg"
                                    class="dropbox-image"
                                    data-fallback="assets/img/blanc.png"
                                    alt="")
                        li(class="list__item")
                            a(href="#" class="icon icon_clickable")
                                img(src="assets/img/google-drive.svg"
                                    class="google-drive-image"
                                    data-fallback="assets/img/blanc.png"
                                    alt="")

section(class="content-section content-section_product-overview")
    div(class="content-section__inner")
        h2(class="title") How Does it Work?

        ul(class="list list_product-overview")
            li(class="list__item")
                div(class="teaser")
                    div(class="teaser__image-block")
                        img(class="teaser__image howto-sheets-image"
                            src="assets/img/howto-sheets.svg"
                            data-fallback="assets/img/blanc.png"
                            alt="")
                    h3(class="teaser__title") How to Merge PDFs
                    p Drag and drop your PDFs or several documents in the box above.

            li(class="list__item")
                div(class="teaser")
                    div(class="teaser__image-block")
                        img(class="teaser__image howto-rerrange-image"
                            src="assets/img/howto-rerrange.svg"
                            data-fallback="assets/img/blanc.png"
                            alt="")
                    h3(class="teaser__title") Rearrange Documents
                    p Once the upload is complete you can rearrange or delete your documents before you click merge.

            li(class="list__item")
                div(class="teaser")
                    div(class="teaser__image-block")
                        img(class="teaser__image howto-free-image"
                            src="assets/img/howto-free.svg"
                            data-fallback="assets/img/blanc.png"
                            alt="")
                    h3(class="teaser__title") Completely Free
                    p There is no need to buy expensive software in order to combine your files. Altomerge is completely free.

        footer(class="content-section__footer")
            a(href="#" role="button" class="btn") Learn more about filling pdfs

