@import "../includes/variables";
@import "../includes/mixins";
@import "../includes/responsive";

/* + Fonts and global tags +
--------------------------*/

*,
*:after,
*:before {
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic);

html, body {
  min-height: 100%;
}

html {
  -webkit-text-size-adjust: 100%; // Prevents iOS text size adjust after orientation change, without disabling user zoom.
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: $baseColor;
  font: $baseFontSize + px/$baseLineHeight $sans;
  background: $mainBgColor;
  font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgb(255,168,0);
}

article, figcaption, figure, object,
footer, header, section {
  display: block; // Corrects `block` display not defined in IE 9.
}

img {
  border: 0;
}

a {
  &:focus {
    outline: none;
  }
}

::-moz-selection {
  text-shadow: none;
  background: rgba(255, 168, 0, 0.54);
}

::selection {
  text-shadow: none;
  background: rgba(255, 168, 0, 0.54);
}

::-webkit-file-upload-button {
  cursor:pointer;
}

/* - Fonts and global tags -
--------------------------*/

/* + Fonts and typography +
-------------------------*/

p {
  margin: 0;
}

h1, .h1 {
	font-weight: 300;
    margin: 0;
}

h2,
.title,
.h2 {
  font: 300 40px $sans;
  text-align: center;
  margin: 0 0 21px 0;
}

h3,
.preamble,
.h3 {
  text-align: center;
  font: 500 23px/1.5 $sans;
  margin: 0 0 41px 0;
}

/* - Fonts and typography -
-------------------------*/

/* + Forms +
----------*/

.form {
  margin: 0;
  padding: 0;
}

.form__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  &_upload {
    border: 2px dashed #ddd;
    border-radius: 10px;
    padding: 29px 10px 37px;
    margin-bottom: 32px;
    .form__legend {
      width: 100%;
      text-align: center;
      color: $accentColor;
      font: 700 23px $sans;
    }
  }
  &_upload-from-cloud {
    text-align: center;
    .icon_clickable {
      width: 82px;
      height: 52px;
      line-height: 48px;
      img {
        max-height: 48px;
        max-width: 79px;
      }
    }
    .form__legend {
      float: left;
      margin: 16px 12px 0 0;
    }
    .form__fieldset__inner {
      @include clearfix;
      display: inline-block;
    }
  }
}

.form__row {
  display: block;
  margin-bottom: 38px;
  &_file-upload {
    text-align: center;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.form__legend {
  display: block;
}

.form_upload {
  width: 848px;
  margin: 0 auto;
}

.list_uploaded-files-images {
  @include list-inline;
  text-align: center;
  .list__item {
    position: relative;
    box-sizing: content-box;
    margin: 0 9px;
    img {
      max-width: 60px;
      max-height: 78px;
    }
  }
  .uploaded-items-separator {
    margin-top: 37px;
  }
}

.form__file-upload {
  @include btn;
  position: relative;
  cursor: pointer;
  padding: 7px 31px;
  overflow: hidden;
  input[type="file"] {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 100px;
    opacity: 0.01;
  }
}

.list_upload-from-cloud {
  float: left;
}

/* - Forms -
----------*/

.page-header {
  padding: 41px 0;
}

.page-header__inner,
.content-section__inner,
.page-footer__inner {
  @include container-inner;
}

.logo {
  display: block;
  position: relative;
  width: 179px;
  height: 28px;
  background: url(../img/logo.svg) no-repeat;
  &_header {
    float: left;
  }
}

.socials-share {
  &_header {
    float: right;
  }
}

.logo__caption-hidden {
  font-size: 1px;
  color: transparent;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.content-section {
  padding: 58px 0 40px;
  &_intro {
    padding: 15px 0 67px;
  }
  &_product-overview {
    border-top: 1px solid #ddd;
    background: #fafafa;
    padding-bottom: 85px;
    .title {
      margin-bottom: 56px;
    }
  }
  &__footer {
    text-align: center;
  }
}

.content-section__inner {
  @include container-inner;
}

.btn {
  @include btn;
}

.copyright {
  color: #c3c3c3;
}

.list {
  @include list-unstyled;
  &_socials-links {
    color: #fff;
    @include list-inline;
    .list__item {
      text-transform: capitalize;
      margin: 0 23px;
    }
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    &_footer {
      float: right;
      width: 45%;
      text-align: right;
      .list__item {
        font: 700 12px $sans;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.intro-text-group {
  width: 770px;
  margin: 0 auto;
}

.list_icons {
  @include list-inline;
  .list__item {
    margin: 0 3px;
  }
}

.icon {
  @include icon;
  img {
    display: inline-block;
    vertical-align: middle;
  }
  &_clickable {
    @include transition;
    border: 2px solid transparent;
    border-radius: 5px;
    &:hover {
      border-color: #ff8816;
    }
  }
}

.list_product-overview {
  @include list-inline;
  text-align: center;
  margin-bottom: 63px;
  .list__item {
    width: 250px;
    margin: 0 35px 10px;
    text-align: left;
  }
}

.teaser {
  line-height: 1.5;
}

.teaser__image-block {
  text-align: center;
  height: 125px;
  background: transparent;
  line-height: 125px;
  margin-bottom: 24px;
}

.teaser__image {
  display: inline-block;
  vertical-align: middle;
}

.teaser__title {
  font: 700 22px $sans;
  margin-bottom: 32px;
}

.page-footer {
  background: #444;
  padding: 30px 0;
  height: 121px;
}

.copyright_footer {
  float: left;
  width: 45%;
  font: 11px/17px $sans;
}

.fb-like-wrapper {
  overflow: hidden;
}

.fb-like-wrapper,
.tweet-btn {
  margin-left: 10px;
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
}

.fb_iframe_widget span,
.fb-like-box iframe{
  vertical-align: top!important;
}