@import "../includes/variables";

@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

@mixin container-inner {
  @include clearfix;
  width: $containerWidth;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: content-box;
}

@mixin list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin list-inline {
  .list__item {
    display: inline-block;
    vertical-align: top;
  }
}

@mixin transition {
  transition: all 0.1s linear;
}

@mixin btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font: 700 19px $sans;
  color: #fff;
  box-sizing: content-box;
  padding: 11px 32px;
  border-radius: 21px;
  background: #ffb42a;
  background: linear-gradient(to bottom,  #ffb42a 0%,#ff8112 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='false');
  &:hover {
    background: #ff8112;
  }
  &:active {
    @include transition;
    box-shadow: inset 0 0 6px 1px rgba(0,0,0,0.23);
  }
}

@mixin icon {
  display: inline-block;
  text-decoration: none;
  box-sizing: content-box;
  text-transform: uppercase;
}