@media all and (max-width: 1001px) {
  body {
    font-size: 16px;
  }
  .page-header {
    padding: 31px 0;
  }
  h2, .title, .h2 {
    font-size: 36px;
  }
  h3, .preamble, .h3 {
    font-size: 20px;
    margin: 0 0 31px 0;
  }
  .page-header__inner,
  .content-section__inner,
  .page-footer__inner {
    width: 100%;
    box-sizing: border-box;
  }
  .content-section_intro {
    padding-bottom: 37px;
  }
  .form_upload,
  .intro-text-group {
    width: 718px;
  }
  .page-footer {
    padding: 37px 0 10px 0;
  }
  .list_socials-links .list__item {
    margin: 0 23px 0 0;
  }
  .copyright_footer,
  .list_socials-links_footer {
    float: none;
    width: 100%;
    text-align: left;
  }
  .copyright_footer {
    margin: 0 0 22px 0;
  }
}

@media all and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .page-header {
    padding: 21px 0;
  }
  h2, .title, .h2 {
    font-size: 30px;
  }
  h3, .preamble, .h3 {
    font-size: 18px;
    margin: 0 0 21px 0;
  }
  .page-header__inner,
  .content-section__inner,
  .page-footer__inner {
    width: 100%;
    box-sizing: border-box;
  }
  .form_upload,
  .intro-text-group {
    width: 100%;
  }
  .page-footer {
    padding: 17px 0;
    min-height: 59px;
    height: auto;
    box-sizing: content-box;
  }
  .content-section_product-overview .title {
    margin-bottom: 36px;
  }
}

@media all and (max-width: 768px) {
  .content-section {
    padding: 23px 0 30px;
  }
  .form__fieldset_upload {
    padding: 29px 10px 37px;
    margin-bottom: 17px;
  }
  .list_product-overview .list__item {
    margin: 0 35px 10px;
  }
  .list_product-overview {
    margin-bottom: 23px;
  }
  .teaser__image-block {
    margin-bottom: 24px;
  }
  .teaser__title {
    font-size: 22px;
    margin-bottom: 15px;
  }
}

@media all and (max-width: 640px) {
  .content-section {
    padding: 14px 0 12px;
  }
  h2, .title, .h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .content-section_product-overview {
    padding-bottom: 30px;
  }
  .content-section_product-overview .title {
    margin-bottom: 15px;
  }
  .list_product-overview .list__item {
    margin: 0 35px 20px;
  }
  .form__fieldset_upload {
    padding: 19px 10px 27px;
  }
  .form__fieldset_upload .form__legend {
    font-size: 20px;
  }
  .form__file-upload,
  .btn {
    font-size: 17px;
  }
  .list_product-overview {
    margin-bottom: 10px;
  }
  .copyright_footer {
    margin: 0 0 11px 0;
  }
}
@media all and (max-width: 640px) {
  .page-header {
    padding: 12px 0;
  }
  .page-header__inner {
    text-align: center;
  }
  .socials-share_header {
    float: none;
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }
  .logo_header {
    float: none;
    margin: 0 auto 17px;
  }
  .content-section {
    padding: 14px 0 12px;
  }
  h2, .title, .h2 {
    font-size: 25px;
  }
  h3, .preamble, .h3 {
    font-size: 18px;
    margin: 0 0 21px 0;
  }
  .form__fieldset_upload {
    padding: 19px 10px 27px;
  }
  .form__row {
    margin-bottom: 28px;
  }
  .teaser__title {
    font-size: 19px;
  }
  .content-section_product-overview {
    padding-bottom: 30px;
  }
  .form__fieldset_upload-from-cloud .form__legend {
    float: none;
    margin: 10px 0;
    width: 100%;
  }
}

@media all and (max-width: 480px) {
  .btn,
  .form__file-upload {
    font-size: 16px;
    padding: 7px 18px;
  }
  .list_product-overview .list__item {
    margin: 0 0 10px 0;
  }
}