doctype html
html(lang="en")
    head
        title= companyName
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
        block head_end
        block conditional_comments

    body

        block content

        block body_end